# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/src
!/vendor
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CLAUDE.md
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md

# Inside vendor/, only track the README; the actual framework is fetched per-dev.
/vendor/*
!/vendor/README.md

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
